@font-face
	font-family: 'Gotham'
	src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),url('../fonts/GothamPro-Bold.woff') format('woff')
	font-weight: 700
	font-style: bold

@font-face
	font-family: 'Gotham'
	src: url('../fonts/GothamPro-light.woff2') format('woff2'),url('../fonts/GothamPro-light.woff') format('woff')
	font-weight: 300
	font-style: light

@font-face
	font-family: 'Open-sans'
	src: url('../fonts/OpenSans.woff2') format('woff2'),url('../fonts/OpenSans.woff') format('woff')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'Open-sans'
	src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),url('../fonts/OpenSans-Semibold.woff') format('woff')
	font-weight: 500
	font-style: normal